@page "/Sitemap"
@using Page = MhbWasmSQLite.Client.Links.Sitemap

@using MhbWasmSQLite.Client.Features.Sitemap.Enums

<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>


<div class="h4 mb-3">
	<ul class="fa-ul">

		@foreach (var item in MhbWasmSQLite.Client.Features.Sitemap.Enums.LinkEnum
		.List
		.OrderBy(o => o.Value)
		.Where(w => w.Value != Sitemap.Enums.LinkEnum.Sitemap.Value)
		)
		{
			<li>
				<span class="fa-li"><i class="@item.Icon"></i></span>
				<a href="@item.Index">@item.Title	</a>
			</li>
		}

	</ul>
</div>

<BackHomeButton />
