@page "/VerseList/{BegId:int}/{EndId:int}"
@using MhbWasmSQLite.Client.Enums;

@*https://myhebrewbible.com/Verse/jer-31-1-9/Englishonly*@

<PageHeader Page="@GlobalEnums.Link.VerseList" />


@switch (_status)
{
	case Status.Loading:
		break;

	case Status.Loaded:
	<p>@Text</p>
		@foreach (var item in svc!.Scriptures!)
		{
			<p>
				<sup class="text-primary"><b>@item.Verse</b></sup> @((MarkupString)@item.KJV!)
			</p>
		}
		break;

	case Status.Error:
		<h4 class="text-danger mt-5">Error no data gotten</h4>
		<p class="">Error...</p>
		<p class="p-2">@_msg</p>
		break;

	default:
		break;
}



