@using MhbWasmSQLite.Client.Enums

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@*@if (BibleSearchState.Value.BibleBook is not null)*@

@if (BibleSearchState.Value.VisibleState)
{
	<ul class="list-inline">

		@for (int i = 1; i <= BibleSearchState.Value.BibleBook.LastChapter; i++)
		{
			<button class="btn btn-sm btn-primary my-3"
					@onclick="@(e => Chapter_ButtonClick(@i))">
				@i
			</button>
		}
	</ul>
}
else
{
	<ul>
		<li>VisibleState: @BibleSearchState.Value.VisibleState</li>
		@*<li>Abrv: @BibleSearchState.Value.BibleBook.Abrv</li>*@
		@*<li>Chapter: @BibleSearchState.Value.Chapter</li>*@
	</ul>
}

@*title="@BookChapterTitle(i)*@

