@using MhbWasmSQLite.Client.Links;

<div class="d-sm-none">
	<a class="navbar-brand nav-link text-warning" title="<576px Xs" href="@Home.Index">
		<i class="@Home.Icon"></i> <b>@Home.ShortTitle</b>
	</a>
</div>

<div class="d-none d-sm-block d-md-none d-lg-none d-xl-none">
	<a class="navbar-brand nav-link text-warning" title="≥576px Sm" href="@Home.Index">
		<i class="@Home.Icon"></i> <sup><b>@Home.Acronym</b></sup>
	</a>
</div>

<div class="d-none d-md-block d-lg-none d-xl-none">
	<a class="navbar-brand nav-link text-warning" title="≥768px Md" href="@Home.Index">
		<i class="@Home.Icon"></i> <b>@Home.ShortTitle</b>
	</a>
</div>

<div class="d-none d-lg-block d-xl-none">
	<a class="navbar-brand nav-link text-warning" title="≥992px Lg" href="@Home.Index">
		<i class="@Home.Icon"></i> <b>@Home.ShortTitle</b>
	</a>
</div>

<div class="d-none d-xl-block">
	<a class="navbar-brand nav-link text-warning" title="≥1200px Xl" href="@Home.Index">
		<i class="@Home.Icon"></i> <b>@Home.ShortTitle</b>
	</a>
</div>
