
<nav id="menu" class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow @Color">
	<div class="container">
		<HomeButton></HomeButton>
		<button class="navbar-toggler" @onclick="ToggleMenu" type="button"
						data-bs-toggle="collapse" data-target=".navbar-collapse"
						aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="@CssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse"
				 @onclick="ToggleMenu">
			<ul class="navbar-nav flex-grow-1">


				<li class="nav-item">
					<a class="nav-link @TextColor" href="@GlobalEnums.Link.BibleSearch.Index">
						<i class="@GlobalEnums.Link.BibleSearch.Icon" aria-hidden="true"></i>
						@GlobalEnums.Link.BibleSearch.Title
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link @TextColor" href="@GlobalEnums.Link.Parasha.Index">
						<i class="@GlobalEnums.Link.Parasha.Icon" aria-hidden="true"></i>
						@GlobalEnums.Link.Parasha.Title
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link @TextColor" href="@GlobalEnums.Link.Article.Index">
						<i class="@GlobalEnums.Link.Article.Icon" aria-hidden="true"></i>
						@GlobalEnums.Link.Article.Title
					</a>
				</li>


			</ul>
		</div>
	</div>
</nav>

