@using Page = MhbWasmSQLite.Client.Links

<nav id="menu" class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 @Color">
	<div class="container">
		<HomeButton></HomeButton>
		<button class="navbar-toggler" @onclick="ToggleMenu" type="button"
						data-bs-toggle="collapse" data-target=".navbar-collapse"
						aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="@CssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse"
				 @onclick="ToggleMenu">
			<ul class="navbar-nav flex-grow-1">


				<li class="nav-item">
					<a class="nav-link @TextColor" href="@Page.BibleSearch.Index">
						<i class="@Page.BibleSearch.Icon" aria-hidden="true"></i>
						@Page.BibleSearch.Title
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link @TextColor" href="@Page.Counter.Index">
						<i class="@Page.Counter.Icon" aria-hidden="true"></i>
						@Page.Counter.Title
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link @TextColor" href="@Page.Fetchdata.Index">
						<i class="@Page.Fetchdata.Icon" aria-hidden="true"></i>
						@Page.Fetchdata.Title
					</a>
				</li>


			</ul>
		</div>
	</div>
</nav>
