@page "/FavoriteVerses"
<PageHeader Page="@MhbWasmSQLite.Client.Enums.LinkEnum.FavoriteVerses" />

@using MhbWasmSQLite.Client.Enums
@using MhbWasmSQLite.Client.Helpers

<IntroductionContent />

@if (selectedType is not null)
{
	<div class="border border-primary my-3 p-2">
		<DynamicComponent Type="@selectedType" />
	</div>
}


@switch (_status)
{
	case Status.Loading:
		<p class="fs-3">Loading...</p>
		break;

	case Status.Loaded:

		<TableTemplate Items="Favorites">
			<TableHeader>
				<th class="text-info">Verse</th>
				@*<th class="text-warning">Commentary</th>*@
				<th class="text-warning">Description</th>
				<th class="text-primary">Learn More</th>
				<th class="text-danger">MHB...</th>
			</TableHeader>
			<RowTemplate>
				<td>@context.VerseName</td>
				@*<td>@context.Commentary.Truncate(25)...</td>*@
				<td>@context.VerseDescription.Truncate(25)...</td>
				<td class="">
					@if (context.HasExtraInfo)
					{
						<button type="button" class="btn btn-outline-info"
							@onclick="@(e => ButtonClick(context.PartialView))">
							@context.PartialView
						</button>
					}
				</td>
				<td class="">
					<a href='https://MyHebrewBible.com/VerseByScriptureIdRange/@context.ScriptureIdBeg/@context.ScriptureIdEnd/slug'
				 target="_blank" title="@context.VerseNameAbrv BookId: @context.BookID">
						@context.VerseNameAbrv
					</a>
					<i class="fas fa-external-link-square-alt"></i>
				</td>
			</RowTemplate>
		</TableTemplate>
		break;

	case Status.Error:
		<div class="card mt-2">
			<div class="card-header h3 px-2">
				<span class='badge bg-warning pb-15'>No Data Gotten</span>

				@if (!String.IsNullOrEmpty(@_msg))
				{
					<div class="card-body">
						<h5 class="card-title mt-3">Footnotes</h5>
					</div>
					<p class="card-text fs-5">
						@_msg
					</p>

				}
				else
				{
					<p class="card-text fs-5">...No Message</p>
				}
			</div>
		</div>
		break;

	default:
		break;
}