<div class="pull-right">
	<a asp-page="@Anchors.Hebrew.PagePrint"
		 class="btn btn-primary @Model.ActiveFilter(HebrewFilter.Print)">
		<span class="@Icons.FaPrint"></span>&nbsp;@ButtonText.Print
	</a>

	<a asp-page="@Anchors.Hebrew.PageIndexFromRoot"
		 class="btn btn-primary @Model.ActiveFilter(HebrewFilter.Table)">
		<span class="@Icons.FaTable"></span>&nbsp;@ButtonText.Chart
	</a>

	<a asp-page="@Anchors.Hebrew.PageZepc3v8"
		 class="btn btn-primary @Model.ActiveFilter(HebrewFilter.Zepc3v8)">
		<span class="@Icons.FaZepc3v8"></span>&nbsp;@ButtonText.Zepc3v8
	</a>

	<a asp-page="@Anchors.Hebrew.PageDefinitions"
		 class="btn btn-primary @Model.ActiveFilter(HebrewFilter.Definitions)">
		<span class="@Icons.FaDefinitions"></span>&nbsp;@ButtonText.Definitions
	</a>

	<a asp-page="@Anchors.Hebrew.PageUnicode"
		 class="btn btn-primary @Model.ActiveFilter(HebrewFilter.Unicode)">
		<span class="@Icons.FaUnicode"></span>&nbsp;@ButtonText.Unicode
	</a>

	<a asp-page="@Anchors.Hebrew.PagePeshitta"
		 class="btn btn-primary @Model.ActiveFilter(HebrewFilter.Peshitta)">
		<span class="@Icons.FaPeshitta"></span>&nbsp;@ButtonText.Peshitta
	</a>

	<span class="fa fa-filter"></span>&nbsp;

</div>




@code {
	//@model MyHebrewBible.Web.Pages.Hebrew.HeaderVM
}
