<div class="float-end">
	<div class="col-1">
	</div>
	<div class="col-11">
		<div class="btn-group">
			<button type="button" class="btn btn-primary">More...</button>

			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				<span class="fa fa-chevron-down"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>

			<ul class="dropdown-menu" role="menu">

				<li>
					<a asp-page="@Anchors.Hebrew.PagePrint"
						 class="btn btn-primary btn-lg @Model.ActiveFilter(HebrewFilter.Print)">
						<span class="@Icons.FaPrint"></span>&nbsp;@ButtonText.Print
					</a>
				</li>
				<li>
					<a asp-page="@Anchors.Hebrew.PageIndexFromRoot"
						 class="btn btn-primary btn-lg @Model.ActiveFilter(HebrewFilter.Table)">
						<span class="@Icons.FaTable"></span>&nbsp;@ButtonText.Chart
					</a>
				</li>

				<li>
					<a asp-page="@Anchors.Hebrew.PageZepc3v8"
						 class="btn btn-primary btn-lg @Model.ActiveFilter(HebrewFilter.Zepc3v8)">
						<span class="@Icons.FaZepc3v8"></span>&nbsp;@ButtonText.Zepc3v8
					</a>
				</li>

				<li>
					<a asp-page="@Anchors.Hebrew.PageDefinitions"
						 class="btn btn-primary btn-lg @Model.ActiveFilter(HebrewFilter.Definitions)">
						<span class="@Icons.FaDefinitions"></span>&nbsp;@ButtonText.Definitions
					</a>
				</li>

				<li>
					<a asp-page="@Anchors.Hebrew.PageUnicode"
						 class="btn btn-primary btn-lg @Model.ActiveFilter(HebrewFilter.Unicode)">
						<span class="@Icons.FaUnicode"></span>&nbsp;@ButtonText.Unicode
					</a>
				</li>

				<li>
					<a asp-page="@Anchors.Hebrew.PagePeshitta"
						 class="btn btn-primary btn-lg @Model.ActiveFilter(HebrewFilter.Peshitta)">
						<span class="@Icons.FaPeshitta"></span>&nbsp;@ButtonText.Peshitta
					</a>
				</li>

			</ul>

		</div>
	</div>
</div>

@code {
	//@model MyHebrewBible.Web.Pages.Hebrew.HeaderVM
}
