@page "/BibleList/Mitzvot"

@using MhbWasmSQLite.Client.Enums;
@using MhbWasmSQLite.Client.Features.Lists.Components

@using Page = MhbWasmSQLite.Client.Features.Lists.MenuItemConstants.Mitzvot
<PageTitle>@Page.Title</PageTitle>

<SubNavBar ActiveMenuItem="@MenuItems.Mitzvot" />

@*<SourceAnchor Url="https://jewsforjesus.org/publications/newsletter/july-1985/08_joseph_jesus" />*@



<BlurbCard>
	A list of the 613 Commandments of Torah.
</BlurbCard>

<div class="mt-3">
	<LearnMoreToggleTemplate>
		<ChildContent>
			<LearnMore />
		</ChildContent>
	</LearnMoreToggleTemplate>
</div>

<Filter CurrentFilter="CurrentFilter" OnFilterSelected="@HandleFilterSelected" />


@switch (_status)
{
	case Status.Loading:
		break;

	case Status.Loaded:
		<div class="table-responsive">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th>Detail</th>
						<th>Verse(s)</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Service!.Mitzvot)
					{
						<tr>
							<td class="text-center">@item.Detail</td>
							<td>@item.Verse</td>
							<td>@item.Descr</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		break;

	case Status.Error:
		<h4 class="text-danger mt-5">Error no data gotten</h4>
		<p class="">Error...</p>
		<p class="p-2">@_msg</p>
		break;

	default:
		break;
}

